/* RESET */
* {
    /* background-color: pink; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
/* Header */
 /* barra superiore con logo */

.headerbackground{
        background-image: url("../img/pattern.png");
        background-repeat: repeat;
        background-color: hsl(212deg 100% 65%);
        background-size: 30%;
        height: 120px;
        position: relative;
        }
        .booleanerlogo{
            background-image: url("../img/logo.svg");
            height: 50%;
            width: 200px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 5%;
            left: 1%;
        }

     /* corpo dell'articolo */
 main{
       background-color: pink;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
     }

     /* font usato */
     .titolo, .autorescritta, .dataarticolo, 
     .dataarticolo, .corpoarticolo{
      font-family: Arial, sans-serif; 
     }


   .titolo{  
      font-size: 20px;
     }

   .autorescritta{
    font-size: 15px;
    color: grey;
    margin-bottom: 3px;
     }

     .dataarticolo{ 
     font-size: 15px;
     color: grey;
     }
    
     #thebooleaner{
     color: rgb(131, 165, 232);    
     }


   /* foto principali dell'articolo */
   .mainpictures{
    margin-top: 20px;
    margin-bottom: 5px;
   }

   .corpoarticolo{
       width: 90%;
     margin-top: 15px ;
   }