/* RESET */
* {
    /* background-color: pink; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
/* Header */

.headerbackground{
        background-image: url("../img/pattern.png");
        background-repeat: repeat;
        background-color: hsl(212deg 100% 65%);
        background-size: 30%;
        height: 120px;
        position: relative;
        }
        .booleanerlogo{
            background-image: url("../img/logo.svg");
            height: 50%;
            width: 200px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 5%;
            left: 1%;
        }

 main{
       background-color: pink;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
     }

   .titolo{
       font-family: Arial, sans-serif;
      font-size: 20px;
     }

   .autorescritta{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: grey;
     }

     .dataarticolo{
     font-family: Arial, sans-serif;
     font-size: 15px;
     color: grey;
     }
    
     #thebooleaner{
     color: rgb(131, 165, 232);    
     }
